
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="js/elementui/index.css">
    <script src="js/vue.js"></script>
    <script  src="js/elementui/index.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="css/tea.css">
</head>
<body>
<div id="app">

    <div>
        <el-input  v-model="cour_name" placeholder="请输入内容"></el-input>
        <el-button type="success" @click="search">搜索</el-button>
        <el-button
                type="primary"
                @click="showAddCourseDialog">添加
        </el-button>


        <el-button icon="el-icon-refresh" type="primary" onclick=" window.location.reload();">刷新</el-button>

    </div>

    <el-table :data="tableData" style="width: 100%" >
        <el-table-column
                type="index"
                width="50">
        </el-table-column>

        <el-table-column prop="courPrice" label="课程价格">
        </el-table-column>
        <el-table-column prop="courName" label="课程名称">
        </el-table-column>
        <el-table-column prop="courContent" show-overflow-tooltip
                         show-overflow-tooltip label="课程描述">
        </el-table-column>

        <el-table-column label="操作">

            <template slot-scope="scope">
                <el-button size="mini"  @click="getCommit(scope.row)" >管理</el-button>

                </el-breadcrumb>
                <el-button size="mini"  type="primary" @click="showUpdateUserDialog(scope.row)">修改
                </el-button>
                <el-button size="mini"
                           type="danger"
                           @click="handleDelete(scope.$index, scope.row)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog
            width="40%"
            :title="addCourseDialog.title"
            :visible.sync="addCourseDialog.show">
        <el-form   ref="addForm" label-position="left" :model="addCourseDialog" label-width="80px">

            <el-form-item prop="courName" label="课程名称">
                <el-input placeholder="请输入课程名称" v-model="addCourseDialog.courName" :disabled="addCourseDialog.nameDisabled" ></el-input>
            </el-form-item>
            <el-form-item prop="courPrice" label="课程价格">
                <el-input placeholder="请输入课程价格" v-model="addCourseDialog.courPrice" ></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-if="addCourseDialog.nameDisabled" @click="updateCourse">确 定</el-button>
                <el-button type="primary" v-else @click="addUser" >新增</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>





    <div style="display: flex;justify-content: center">
        <el-pagination
                layout="prev, pager, next"
                :total="total" current-page.sync="page" @current-change="pageChange">
        </el-pagination>
    </div>

</div>
</body>


<script>

    var Main = {

        data() {
            return {

                selectUserData:[],
                addCourseDialog: {
                    // 模态框显示
                    show: false,
                    // 课程id
                    courId: '',
                    // 模态框标题
                    title: '',
                    // 课程名称
                    courName: '',
                    //教师id
                    courTeaid: '',
                    //课程的价格
                    courPrice:'',
                    nameDisabled:true,

                },

                //表格数据（分页）
                tableData: [],
                cour_name: "",
                page: 1,
                pageSize: 10,
                total: 0,

            }
        },

        methods: {
            getCommit(row) {
               var courId=row.courId;
               alert(courId)
             window.location.href="admin.html?courId="+courId
             },
            handleSelectionChange(val) {
                this.selectUserData = val
            },
            // 修改用户
            updateCourse() {
                let params = new URLSearchParams()
                params.append('courId', this.addCourseDialog.courId)
                params.append('courName', this.addCourseDialog.courName)
                params.append('courPrice', this.addCourseDialog.courPrice)


                this.$refs['addForm'].validate((valid) => {
                    axios({
                        method: 'post',
                        url: '/api/teacher/course/updateCourseAll',
                        data: params,
                        headers: {
                            "Authorization": "bearer " + sessionStorage.getItem("access_token")
                        }
                    })
                        .then(() => {
                            this.$message({
                                type: 'success',
                                message: '修改成功!',
                            });
                            this.addCourseDialog.show = false
                            this.queryCourse()
                        }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '修改失败'
                        });
                    })
                })

            },
            /*tableClick(row, event, column){
                //  console.log(row,event,column)
                if (row.courId>0) {
                    this.addCourseDialog.title = '用户修改'
                    // 用户数据赋值
                    let user = row
                    this.setAddUserDialogData(user.courId, user.courName, user.courPrice)
                    // 弹出框显示
                    // this.addCourseDialog.show = true
                } else {
                    this.$message({
                        message: '请选择并只选中一条数据',
                        type: 'warning'
                    })
                }
            },*/

            showUpdateUserDialog(row){
                this.addCourseDialog.courId=row.courId;
                this.addCourseDialog.courName=row.courName;
                this.addCourseDialog.courPrice=row.courPrice;
                this.addCourseDialog.show = true
                this.addCourseDialog.nameDisabled=true;

            },
            //新增
            addUser(){
                let teaid=sessionStorage.getItem("userid");
                alert(teaid)
                let params = new URLSearchParams()
                params.append('courId', this.addCourseDialog.courId)
                params.append('courName', this.addCourseDialog.courName)
                params.append('courPrice', this.addCourseDialog.courPrice)
                params.append('courTeaid', teaid)

                this.$refs['addForm'].validate((valid) => {
                    if (valid) {
                        axios({
                            method:'post',
                            url: '/api/teacher/course/addCourseAll',
                            data:params,
                            headers: {
                                "Authorization": "bearer " + sessionStorage.getItem("access_token")
                            }
                        }).then(() => {

                            this.$message({
                                type: 'success',
                                message: '新增成功!',
                            });

                            this.addCourseDialog.show = false
                            this.queryCourse()
                            this.$refs['addForm'].resetFields();
                        })
                    } else {
                        this.$message({
                            showClose: true,
                            message: '新增失败',
                            type: 'error'
                        });
                        return false;
                    }
                });
            },

            showAddCourseDialog() {

                this.addCourseDialog.courName="";
                this.addCourseDialog.courPrice="";
                this.addCourseDialog.courTeaid="";
                this.addCourseDialog.nameDisabled=false;
                this.addCourseDialog.title="新增用户";
                this.addCourseDialog.show=true;
            },

            //点击删除
            handleDelete(index, row) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    center: true
                }).then(() => {
                    axios({
                        method: 'post',
                        url: '/api/teacher/course/deleteCourseById',
                        params: {
                            courId: row.courId
                        },
                        headers: {
                            "Authorization": "bearer " + sessionStorage.getItem("access_token")
                        }
                    })

                    this.$message({
                        type: 'success',
                        message: '删除成功!',

                    });
                   location.reload()
                    this.queryCourse()
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                })




            },


            pageChange(page) {
                this.page = page;
                this.queryCourse();
            },
            search() {
                this.page = 1;
                this.queryCourse();
            },
            //分页查询课程
            queryCourse() {

                axios({
                    method: 'get',
                    url: '/api/teacher/course/getPaginate',
                    params: {
                        page: this.page,
                        pageSize: this.pageSize,

                    },
                    headers: {
                        "Authorization": "bearer " + sessionStorage.getItem("access_token")
                    }
                })
                    .then(res => {
                            let data = res.data;

                            this.total = data.totalElements;
                            this.tableData = data.content;

                        }
                    )

            }
        },
        mounted() {
            // 初始化数据
            this.queryCourse()
        }
    }

    var Component = Vue.extend(Main)
    new Component().$mount('#app')
</script>
</html>

