<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Lei Shi">
		<meta http-equiv="Cache-Control" content="o-transform">
		<meta http-equiv="Cache-Control" content="no-siteapp">
		<title>帖子详情 - 智慧教育平台</title>

		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="../static/font-awesome//4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/highlight.js/9.8.0/monokai-sublime.min.css">
		<link rel="stylesheet" href="../app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="../app/css/libs/katex/0.6.0/katex.min.css">
		<link rel="stylesheet" href="../app/css/libs/videojs/5.11.7/video-js.min.css">
		<link rel="stylesheet" href="../app/css/dest/styles.css?=2016121272249">
		<link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
		<script src="../layui/layui.js"></script>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/axios.js"></script>
		<script src="../js/index.js"></script>

		<style>

			/* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
		#invite-user .modal-body .form-label {
			margin-bottom: 16px;
			font-size:14px;
		}
		#invite-user .modal-body .form-invite {
			width: 80%;
			padding: 6px 12px;
			background-color: #eeeeee;
			border: 1px solid #cccccc;
			border-radius: 5px;
			float: left;
			margin-right: 10px;
		}
		#invite-user .modal-body .msg-modal-style {
			background-color: #7dd383;
			margin-top: 10px;
			padding: 6px 0;
			text-align: center;
			width: 100%;
		}
		#invite-user .modal-body .modal-flash {
			position: absolute;
			top: 53px;
			right: 74px;
			z-index: 999;
		}
		/* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>
		<script type="text/javascript">
			layui.use('layedit', function() {
				var layedit = layui.layedit,
					$ = layui.jquery;
				var index = layedit.build('demo'); //建立编辑器

				var replyText;
				var active = {
					content: function() {
						replyText = layedit.getContent(index);
						//alert(layedit.getContent(index)); //获取编辑器内容
					},
					text: function() {
						alert(layedit.getText(index)); //获取编辑器纯文本内容
					},
					selection: function() {
						alert(layedit.getSelection(index));
					}
				};

				$("#commit").on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';

					if (replyText == "") {
						layer.msg("请填写回复内容", {
							icon: 5
						});
						return;
					} else {
						$.ajax({
							url: '/api/bbs/reply/insertReply',
							type: 'post',
							data: {
								replyContent: replyText,
								postId: sessionStorage.getItem("postId"),
								userId: "9357593e-02dc-47ab-b304-910e3411a897"
							},
							beforeSend: function(request) {
								// 禁用按钮防止重复提交
								$("#commit").attr({
									disabled: "disabled"
								});
								//设置请求头
								//request.setRequestHeader("BBG-Key", "ab9ef204-3253-49d4-b229-3cc2383480a6");
							},
							success: function(data) {
								if (data.success) {
									layer.msg(data.message, {
										icon: 6, //成功的表情 
										time: 1000, //1秒关闭（如果不配置，默认是3秒） 
									}, function() {
										location.reload();
									});

								} else {
									layer.msg(data.message, {
										icon: 5,
										time: 1000,
									});
									//失败的表情 
									return;
								}
							},

						});
					}
				});

			});
		</script>


	</head>

	<body>


		<nav class="navbar navbar-default navbar-fixed-top header">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse"
					 aria-expanded="false">
						<span class="sr-only">智慧教学平台</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../index.html">
						<img src="../img/logo_03.png">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="header-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="../questions/index.html">讨论区</a>
						</li>

					</ul>


					<div class="navbar-right btns">
						<a class="btn btn-default navbar-btn sign-in" data-sign="signin" href="#sign-modal" data-toggle="modal">登录</a>
						<a class="btn btn-default navbar-btn sign-up" data-sign="signup" href="#sign-modal" data-toggle="modal">注册</a>
					</div>


					<form class="navbar-form navbar-right" action="../search" method="get" role="search">
						<div class="form-group">
							<input type="text" class="form-control" name="search" autocomplete="off" placeholder="搜索 课程/问答">
						</div>
					</form>
				</div>
			</div>
		</nav>



		<div class="container layout layout-margin-top">

			<ol class="breadcrumb">
				<li><a href="index.html">讨论区</a></li>
				<li><a href="#">帖子详情</a></li>
			</ol>

			<div class="row" id="postDetails">
				<div class="col-md-9 layout-body">

					<div class="content question-detail">
						<div class="question-headline">
							<span class="question-title"> {{postTitle}}</span>
							<span class="question-figure">3 回复</span>
							<span class="question-figure">{{postBrowse}} 查看</span>
						</div>
						<div class="question-author">
							<div class="user-avatar ">
								<!-- 发帖人头像 -->
								<a class="avatar" href="#" target="_blank">
									<img src="#">
								</a>
							</div>
							<div class="user-username ">
								<a class="username" href="#" target="_blank"> 发帖人 </a>
							</div>

							<span>{{postTime}}</span>

						</div>
						<div class="question-content markdown-body">
							<p>{{postContent}}</p>
							<div class="labreport-detail-like">
								<!-- 举报 -->
								<span class="btn btn-default btn-weiboshare">
									<i class="layui-icon layui-icon-circle-dot" id="report" style="font-size: 20px; color: #6D6D6D;"></i>
									<i class="el-icon-warning"></i>
								</span>

								<!-- 点赞 -->
								<span class="btn btn-default btn-weiboshare" v-if="">
									<i class="layui-icon layui-icon-praise" v-on:click="replyLike(reply)" style="font-size: 20px; color: #CC0033;"></i>
								</span>
								<span class="btn btn-default btn-weiboshare" v-else>
									<i class="layui-icon layui-icon-praise" v-on:click="replyLike(reply)" style="font-size: 20px; color: #6D6D6D;"></i>
								</span>
							</div>
						</div>

						<div class="question-answers">
							<p class="ptilte">全部回复</p>
							<hr />

							<div class="answer-item" v-for="reply in replyList">
								<div class="answer-head">
									<div class="user-avatar ">
										<a class="avatar" href="#" target="_blank">
											<!--  回复人头像 -->
											<img src="#">
										</a>
									</div>
								</div>
								<div class="answer-detail">
									<span class="comment-reply">
										<div class="user-username ">
											<a class="username" href="#" target="_blank">回复人姓名</a>
										</div>
									</span>
									<span class="comment-parent" v-if="reply.isReply">
										回复
										<div class="user-username ">
											<a class="username" href="/user/347060" target="_blank">被回复人姓名</a>
										</div>

									</span>
									<span class="comment-parent" v-else>

									</span>

									<div class="answer-content markdown-body">
										<p>{{reply.replyContent}}</p>
									</div>
									<div>
										<span class="create-time">{{reply.replyTime}}</span>
									</div>
									<div class="labreport-detail-like">
										<!-- 举报 -->
										<span class="btn btn-default btn-weiboshare">
											<i class="layui-icon layui-icon-circle-dot" id="report" style="font-size: 20px; color: #6D6D6D;"></i>
											<i class="el-icon-warning"></i>
										</span>

										<!-- 点赞 -->
										<span class="btn btn-default btn-weiboshare" v-if="reply.isLike">
											<i class="layui-icon layui-icon-praise" v-on:click="replyLike(reply)" style="font-size: 20px; color: #CC0033;"></i>
										</span>
										<span class="btn btn-default btn-weiboshare" v-else>
											<i class="layui-icon layui-icon-praise" v-on:click="replyLike(reply)" style="font-size: 20px; color: #6D6D6D;"></i>
										</span>
									</div>

									<hr />
								</div>
							</div>

						</div>
						<div class="your-answer words-ctrl">
							<!-- 富文本框位置  -->
							<textarea id="demo" placeholder="输入回复内容"></textarea>

							<br />
							<button class="layui-btn" data-type="content" id="commit">提交回复</button>

						</div>
					</div>

				</div>
				<div class="col-md-3 layout-side">

					<a class="btn side-btn" href="publicPost.html" data-toggle="modal" data-target="#askquestion">我要发帖</a>
					<div class="side-image">
						<a href="#" target="_blank">
							<!-- 用户头像 -->
							<img src="#">
							<!-- 用户昵称 -->
							<a href="#"></a>
						</a>
					</div>
					<div class="sidebox side-list related-question">
						<div class="sidebox-header">
							<h4 class="sidebox-title">相关帖子</h4>
						</div>
						<div class="sidebox-body side-list-body">
						</div>
					</div>

				</div>
			</div>
		</div>

		<script type="text/javascript">
			var postDetails = new Vue({
				el: '#postDetails',

				mounted: function() {
					this.queryReply();

				},
				data() {
					return {

						isLike: "",
						postContent: sessionStorage.getItem("postContent"),
						postBrowse: sessionStorage.getItem("postBrowse"),
						postTime: sessionStorage.getItem("postTime"),
						userId: sessionStorage.getItem("userId"),
						replyId: sessionStorage.getItem("replyId"),
						postTitle: sessionStorage.getItem("postTitle"),
						replyList: []

					}
				},
				methods: {
					queryReply: function() {
						let params = new URLSearchParams();
						params.append("postId", sessionStorage.getItem("postId"));
						params.append("userId", "9357593e-02dc-47ab-b304-910e3411a897")
						axios({
							method: 'post',
							url: '/api/bbs/reply/getReplyByPostId',
							data: params,
							headers: {
								//"Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDUzMTEzMCwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6IjQyNWQxN2NiLTA1MTEtNGUwNy1iZTBiLTMxNDY1MDYxYzhhYSIsImNsaWVudF9pZCI6ImllcCJ9.4ELHXcBVRxTDYAQP0CBYTTY9mxMqLgJhdFONiH6o_fs"
							}
						}).then(res => {
							res = res.data;
							this.replyList = res;
							console.log('replyList==>' + this.replyList);
						})
					},
					replyLike: function(reply) {
						let params = new URLSearchParams();
						params.append("replyId", reply.replyId);
						params.append("userId", "9357593e-02dc-47ab-b304-910e3411a897");
						params.append("isLike", reply.isLike);
						axios({
							method: 'post',
							url: '/api/bbs/reply/replyLike',
							data: params,
							headers: {
								//"Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDUzMTEzMCwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6IjQyNWQxN2NiLTA1MTEtNGUwNy1iZTBiLTMxNDY1MDYxYzhhYSIsImNsaWVudF9pZCI6ImllcCJ9.4ELHXcBVRxTDYAQP0CBYTTY9mxMqLgJhdFONiH6o_fs"
							}
						}).then(res => {
							res = res.data;
							if (res.success) {
								alert(res.message);
								this.$message({
									message: '恭喜你，这是一条成功消息',
									type: 'success'
								});
								this.queryReply();
							} else {
								this.$message.error('错了哦，这是一条错误消息');
							}

						})

					}
					/* replyReport: function(reply) {
						if (reply.isReport) {
							alert("你已举报过该用户")
						} else {
							let params = new URLSearchParams();
							params.append("replyId", reply.replyId);
							params.append("userId", "9357593e-02dc-47ab-b304-910e3411a897");
							axios({
								method: 'post',
								url: '/api/bbs/reply/userReport',
								data: params,
								headers: {
									//"Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDUzMTEzMCwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6IjQyNWQxN2NiLTA1MTEtNGUwNy1iZTBiLTMxNDY1MDYxYzhhYSIsImNsaWVudF9pZCI6ImllcCJ9.4ELHXcBVRxTDYAQP0CBYTTY9mxMqLgJhdFONiH6o_fs"
								}
							}).then(res => {
								res = res.data;
								if (res.success) {
									alert(res.message);
									this.$message({
										message: '恭喜你，这是一条成功消息',
										type: 'success'
									});
									this.queryReply();
								} else {
									this.$message.error('错了哦，这是一条错误消息');
								}

							})
						}
					} */

				}
			})
		</script>




		<div class="modal fade" id="sign-modal" tabindex="-1" role="dialog">

		</div>

		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix footer-col">
						<img src="../img/logo_03.png">
						<div class="footer-slogan">动手做实验，轻松学编程</div>
						<div class="col-xs-2">
							<div class="social-item footer-weixin-item">
								<i class="fa fa-weixin"></i>
								<div class="footer-weixin">
									<img src="../img/footer-weixin.png">
								</div>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="social-item footer-qq-item">
								<i class="fa fa-qq"></i>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="social-item footer-weibo-item">
								<a href="#" target="_blank">
									<i class="fa fa-weibo"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2 footer-col">
						<div class="col-title">公司</div>
						<a href="../aboutus/index.html" target="_blank">关于我们</a><br>
						<a href="../contact/index.html" target="_blank">联系我们</a><br>
						<a href="#" target="_blank">加入我们</a><br>
						<a href="#" target="_blank">技术博客</a><br>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2 footer-col">
						<div class="col-title">合作</div>
						<a href="../contribute/index.html" target="_blank">我要投稿</a><br>
						<a href="../labs/index.html" target="_blank">教师合作</a><br>
						<a href="../edu/index.html" target="_blank">高校合作</a><br>
						<a href="../friends/index.html" target="_blank">友情链接</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2 footer-col">
						<div class="col-title">服务</div>
						<a href="../bootcamp/index.html" target="_blank">实战训练营</a><br>
						<a href="../vip/index.html" target="_blank">会员服务</a><br>
						<a href="../courses/reports/index.html" target="_blank">实验报告</a><br>
						<a href="../questions/index.html?tag=%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98" target="_blank">常见问题</a><br>
						<a href="../privacy/index.html" target="_blank">隐私条款</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2 footer-col">
						<div class="col-title">学习路径</div>
						<a href="../paths/python/index.html" target="_blank">Python学习路径</a><br>
						<a href="../paths/linuxdev/index.html" target="_blank">Linux学习路径</a><br>
						<a href="../paths/bigdata/index.html" target="_blank">大数据学习路径</a><br>
						<a href="../paths/java/index.html" target="_blank">Java学习路径</a><br>
						<a href="../paths/php/index.html" target="_blank">PHP学习路径</a><br>
						<a href="../paths/index.html" , target="_blank">全部</a>
					</div>
				</div>
			</div>
			<div class="text-center copyright">
				<span>Copyright @2013-2016 在线教育</span>
				<span class="ver-line"> | </span>
				<a href="#" target="_blank">蜀ICP备00000000号</a>

			</div>
		</div>

	</body>
</html>
