<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Cache-Control" content="o-transform">
		<meta http-equiv="Cache-Control" content="no-siteapp">


		<title>讨论区 - 智慧教学平台</title>

		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="../static/font-awesome//4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/highlight.js/9.8.0/monokai-sublime.min.css">
		<link rel="stylesheet" href="../app/css/libs/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="../app/css/libs/katex/0.6.0/katex.min.css">
		<link rel="stylesheet" href="../app/css/libs/videojs/5.11.7/video-js.min.css">
		<link rel="stylesheet" href="../app/css/dest/styles.css?=2016121272249">
		<link rel="stylesheet" href="../css/index.css" />
		<script src="../js/jquery.min.js"></script>
		<script src="../js/vue.min.js"></script>
		<script src="../js/axios.js"></script>
		<script src="../js/index.js"></script>

		<style>
			@font-face {
			font-family: "lantingxihei";
			src: url("../fonts/FZLTCXHJW.TTF");
		}

        /* modal 模态框*/
        #invite-user .modal-body {
            overflow: hidden;
        }
		#invite-user .modal-body .form-label {
			margin-bottom: 16px;
			font-size:14px;
		}
		#invite-user .modal-body .form-invite {
			width: 80%;
			padding: 6px 12px;
			background-color: #eeeeee;
			border: 1px solid #cccccc;
			border-radius: 5px;
			float: left;
			margin-right: 10px;
		}
		#invite-user .modal-body .msg-modal-style {
			background-color: #7dd383;
			margin-top: 10px;
			padding: 6px 0;
			text-align: center;
			width: 100%;
		}
		#invite-user .modal-body .modal-flash {
			position: absolute;
			top: 53px;
			right: 74px;
			z-index: 999;
		}
		/* end modal */

        .en-footer {
            padding: 30px;
            text-align: center;
            font-size: 14px;
        }
    </style>



	</head>

	<body>
		<!-- 页面头部区域 -->
		<nav class="navbar navbar-default navbar-fixed-top header">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse"
					 aria-expanded="false">
						<span class="sr-only">智慧教学平台</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../index.html">
						<img src="../img/logo_03.png">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="header-navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="../questions/index.html">讨论区</a>
						</li>

					</ul>


					<div class="navbar-right btns">
						<a class="btn btn-default navbar-btn sign-in" data-sign="signin" href="#sign-modal" data-toggle="modal">登录</a>
						<a class="btn btn-default navbar-btn sign-up" data-sign="signup" href="#sign-modal" data-toggle="modal">注册</a>
					</div>


					<form class="navbar-form navbar-right" action="../search" method="get" role="search">
						<div class="form-group">
							<input type="text" class="form-control" name="search" autocomplete="off" placeholder="搜索 课程/问答">
						</div>
					</form>
				</div>
			</div>
		</nav>

		<div class="container layout layout-margin-top">
			<div class="row">
				<div class="col-md-9 layout-body">
					<div class="content" id="postPage">
						<!-- 帖子分类导航栏 -->
						<ul class="nav nav-tabs question-types" role="tablist">
							<li role="presentation">
								<a role="tab" v-on:click="getAll()" toggle="tab">全部</a>
							</li>
							<li v-for="type in typeList" role="presentation">
								<a role="tab" toggle="tab" v-on:click="getTypename($event)">{{type.typeName}}</a>
							</li>
							<div class="question-sort">
								<a v-on:click="btnNew()" href="#">最新</a>/
								<a v-on:click="btnHot()" href="#">最热</a>
							</div>
						</ul>
						<!-- 帖子列表 -->
						<div class="tab-content">
							<div id="postList">

								<ul v-for="post in posts" class="row question-items" :data="posts.slice((currentPage-1)*pagesize,currentPage*pagesize)">
									<li class="question-item">
										<div class="col-md-10">
											<div class="col-sm-2 question-item-author">
												<div class="user-avatar ">
													<!-- 用户头像 -->
													<a class="avatar" href="#" target="_blank">
														<img src="#">
													</a>
												</div>
											</div>
											<div class="col-sm-10">
												<h4>
													<span v-if="post.postIsstick"><img src="../img/topQuestion.png"></span>

													<a class="question-item-title"  v-on:click="jumpPostDetails(post)" target="_blank">
														{{post.postTitle}}</a>
												</h4>
												<div class="question-item-summary">
													<div class="user-username ">
														<!-- 用户名称 -->
														<a class="avatar" href="#" target="_blank">发帖人</a>
													</div>
													<!-- 回复时间和最后回复人名称 -->
													<span class="question-item-date">{{post.replyTime}}</span>
													<!--最后回复--> <span class="question-item-date">
														<div class="user-username ">
															<a class="username" href="#" target="_blank">
																最后回复人
															</a>
														</div>
													</span>
												</div>
											</div>
										</div>
										<div class="col-md-2 question-item-rank">
											<div class="question-item-answered">
												<div>{{post.replyLikenum}}</div>
												<div>点赞</div>
											</div>
											<div class="question-item-views">
												<div>{{post.replyBrowse}}</div>
												<div>浏览数</div>
											</div>
										</div>

									</li>

								</ul>


								<!-- 分页条-->
								<el-pagination background layout="prev, pager, next" @current-change="current_change" :total="total">
								</el-pagination>
							</div>
						</div>
					</div>

				</div>


				<div class="col-md-3 layout-side">
					<!-- 发帖 -->

					<a class="btn side-btn" href="publicPost.html" data-toggle="modal" data-sign="signin">我要发帖</a>
					<!-- 右侧消息栏 -->
					<div class="panel panel-default panel-userinfo">
						<div class="panel-body body-userinfo">
							<div class="media userinfo-header">
								<div class="media-left">
									<div class="user-avatar">

										<a class="avatar" href="#sign-modal" data-toggle="modal" data-sign="signin">
											<img class="circle" src="../img/logo-grey.png">
										</a>

									</div>
								</div>
								<div class="media-body">

									<span class="media-heading username">欢迎来到智慧教育平台</span>
									<p class="vip-remain">做实验，学编程</p>

								</div>
							</div>

							<div class="row userinfo-data">

								<hr>
								<div class="btn-group-lr">
									<a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 login-btn" data-toggle="modal"
									 data-sign="signin">登录</a>
									<a href="#sign-modal" type="button" class="btn btn-success col-md-5 col-xs-6 col-md-offset-1 register-btn"
									 data-toggle="modal" data-sign="signup">注册</a>
								</div>

							</div>

							<div class="userinfo-footer row">
								<div class="col-md-6 col-xs-6 pos-left">

									<a href="#sign-modal" data-toggle="modal" data-sign="signin"><span class="glyphicon glyphicon-bookmark"></span>
										加入私有课</a>

								</div>
								<div class="col-md-6 col-xs-6 pos-right">
									<a href="/contribute" target="_blank"><span class="glyphicon glyphicon-send"></span> 我要投稿</a>
								</div>

								<div id="join-private-course" class="modal fade words-ctrl" tabindex="-1" role="dialog">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">加入私有课</h4>
											</div>
											<div class="modal-body">
												<div style="margin:15px 0; font:16px;">输入教师提供的私有课程码可以加入教师的私有课程。</div>
												<form id="private-course-form" method="POST" action="/courses/join">
													<div class="form-group">
														<label for="code">邀请码</label>
														<input class="form-control" id="code" name="code" type="text" value="">
														<input name="_csrf_token" type=hidden value="1483789088##bbf83c51243ab12daa94911c8865a65bdc66c4d8">
													</div>
												</form>

											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
												<button type="button" class="btn btn-primary" onclick="document.getElementById('private-course-form').submit();">确定</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 右侧消息栏 -->
					<div class="sidebox">
						<div class="sidebox-header">
							<h4 class="sidebox-title">最热路径</h4>
						</div>
						<div class="sidebox-body course-content side-list-body">
							<a href="/paths/python"><img style="width:25px;height:25px" src="../img/1471513769430.png"> Python 研发工程师</a>
							<a href="/paths/bigdata"><img style="width:25px;height:25px" src="../img/1471513926288.png"> 大数据工程师</a>
							<a href="/paths/cpp"><img style="width:25px;height:25px" src="../img/1471513793360.png"> C++ 研发工程师</a>
							<a href="/paths/security"><img style="width:25px;height:25px" src="../img/1471513867033.png"> 信息安全工程师</a>
							<a href="/paths/linuxsys"><img style="width:25px;height:25px" src="../img/1471514004752.png"> Linux 运维工程师</a>
						</div>

					</div>
				</div>
			</div>
		</div>


		<div id="jinja-data" data-question-form="/questions/meta" data-is-authenticated="false" data-login-url="/login?next=%2Fquestions%2F"
		 data-qiniu-token-url="/api/qiniu/token" data-userid=""></div>

		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix footer-col">
						<img src="../img/logo_03.png">
						<div class="footer-slogan">动手做实验，轻松学编程</div>
						<div class="col-xs-2">
							<div class="social-item footer-weixin-item">
								<i class="fa fa-weixin"></i>
								<div class="footer-weixin">
									<img src="../img/footer-weixin.png">
								</div>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="social-item footer-qq-item">
								<i class="fa fa-qq"></i>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="social-item footer-weibo-item">
								<a href="#" target="_blank">
									<i class="fa fa-weibo"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2 footer-col">
						<div class="col-title">公司</div>
						<a href="#" target="_blank">关于我们</a><br>
						<a href="#" target="_blank">联系我们</a><br>
						<a href="#" target="_blank">加入我们</a><br>
						<a href="#" target="_blank">技术博客</a><br>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2 footer-col">
						<div class="col-title">合作</div>
						<a href="#" target="_blank">我要投稿</a><br>
						<a href="#" target="_blank">教师合作</a><br>
						<a href="#" target="_blank">高校合作</a><br>
						<a href="#" target="_blank">友情链接</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2 footer-col">
						<div class="col-title">服务</div>
						<a href="#" target="_blank">实战训练营</a><br>
						<a href="#" target="_blank">会员服务</a><br>
						<a href="#" target="_blank">实验报告</a><br>
						<a href="#" target="_blank">常见问题</a><br>
						<a href="#" target="_blank">隐私条款</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-2 footer-col">
						<div class="col-title">学习路径</div>
						<a href="#" target="_blank">Python学习路径</a><br>
						<a href="#" target="_blank">Linux学习路径</a><br>
						<a href="#" target="_blank">大数据学习路径</a><br>
						<a href="#" target="_blank">Java学习路径</a><br>
						<a href="#" target="_blank">PHP学习路径</a><br>
						<a href="#" , target="_blank">全部</a>
					</div>
				</div>
			</div>
			<div class="text-center copyright">
				<span>Copyright @2013-2016 在线教育</span>
				<span class="ver-line"> | </span>
				<a href="#" target="_blank">蜀ICP备00000000号</a>

			</div>
		</div>

		<!-- vue -->
		<script type="text/javascript">
			var postPage = new Vue({
				el: '#postPage',

				mounted: function() {
					this.queryPost();
					this.queryType();
				},
			
				data() {
					return {
						
						typeName: "",
						orderBy: "replyTime",
						total: 50, //默认数据总数
						pagesize: 10, //每页的数据条数
						currentPage: 1, //默认开始页面
						posts: [],
						typeList: []
					}

				},
				methods: {
					queryPost() {

						let params = new URLSearchParams();
						params.append("typeName", this.typeName);
						params.append("page", this.currentPage);
						params.append("rows", this.pagesize);
						params.append("orderBy", this.orderBy);
						axios({
							method: 'post',
							url: '/api/bbs/post/getAllPost',
							data: params,
							headers: {
								//"Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDUzMTEzMCwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6IjQyNWQxN2NiLTA1MTEtNGUwNy1iZTBiLTMxNDY1MDYxYzhhYSIsImNsaWVudF9pZCI6ImllcCJ9.4ELHXcBVRxTDYAQP0CBYTTY9mxMqLgJhdFONiH6o_fs"
							}
						}).then(res => {
							res = res.data;
							this.posts = res.rows;
							this.total = res.total;
							console.log('posts==>' + this.posts);
						})

					},
					queryType() {
						let params = new URLSearchParams();
						axios({
							method: 'post',
							url: '/api/bbs/type/getAllType',
							data: params,
							headers: {
								//"Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDUzMTEzMCwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6IjQyNWQxN2NiLTA1MTEtNGUwNy1iZTBiLTMxNDY1MDYxYzhhYSIsImNsaWVudF9pZCI6ImllcCJ9.4ELHXcBVRxTDYAQP0CBYTTY9mxMqLgJhdFONiH6o_fs"
							}
						}).then(res => {
							res = res.data;
							this.typeList = res;
							console.log('typeList==>' + this.typeList);
						})
					},
					current_change: function(currentPage) {
						this.currentPage = currentPage;
						this.queryPost();
					},
					getAll: function(){
						this.typeName = "";
						this.queryPost();
					},
					getTypename: function(event) {
						this.typeName = event.target.innerHTML;
						this.queryPost();
						console.log('event==>' + event.target.innerHTML);
					},
					btnNew: function(){
						this.orderBy = "replyTime";
						this.queryPost();
						console.log('orderBy==>' + orderBy);
					},
					btnHot: function(){
						this.orderBy="replyLikenum";
						this.queryPost();
						console.log('orderBy==>' + orderBy);
					},
					jumpPostDetails: function(post) {
						
						let params = new URLSearchParams();
						params.append("replyId",post.replyId);
						axios({
							method: 'post',
							url: '/api/bbs/reply/updateBrowse',
							data: params,
							headers: {
								//"Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDUzMTEzMCwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6IjQyNWQxN2NiLTA1MTEtNGUwNy1iZTBiLTMxNDY1MDYxYzhhYSIsImNsaWVudF9pZCI6ImllcCJ9.4ELHXcBVRxTDYAQP0CBYTTY9mxMqLgJhdFONiH6o_fs"
							}
						}).then(res => {
							//res = res.data;

						})
						console.log('post==>' + post.replyContent);
						sessionStorage.setItem("postContent", post.replyContent);
						sessionStorage.setItem("postTime", post.replyTime);
						sessionStorage.setItem("userId", post.userId);
						sessionStorage.setItem("replyId", post.replyId);
						sessionStorage.setItem("postTitle", post.postTitle);
						sessionStorage.setItem("postId", post.postId);
						sessionStorage.setItem("postBrowse", post.replyBrowse);
						window.location.href="postDetails.html";

					}
				}

			})
		</script>

	</body>
</html>
