.yxlb{
    height: 180px;
    background: rgb(255,255,255);
    margin-left: 20px;
    width: 23%;
    margin-bottom: 20px;
    text-align: center;
    line-height: 180px;
}
.col-md-3{
}

.vintage4{
    color: gold;
    letter-spacing: 0;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135
}
.vintage4:hover{
    color:red;
}
