
 .el-header, .el-footer {
  background-color: #D3DCE6;
   color: #333;
   text-align: center;
   line-height: 60px;
 }

.el-aside {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 800px;
}

.el-main {
    background-color: #ffffff;
    color: #333;
    text-align: center;
    line-height: 500px;
}

body > .el-container {
    margin-bottom: 500px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}
