<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <script src="js/vue.min.js"></script>
    <script src="js/iview.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="js/index.js"></script>
    <style>


    </style>


</head>
<body>

<h1 align="center">试卷显示</h1>
<hr>
<br><br><br>

<div id="app">

    <template>
        <el-select v-model="value" placeholder="请选择">
            <el-option label="待审核" value="1"></el-option>
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
    </template>

</div>
</body>
<script>

    /*自动在请求中添加请求头*/
    /*axios.defaults.headers.common['Authorization'] = "bearer " + sessionStorage.getItem("access_token");*/
    /*获取登陆人的userid*/
    /* var userid = sessionStorage.getItem("userid");*/

    var main = new Vue({
        el: '#app',

        data() {
            return {
                options: [{
                    value: '选项1',
                    label: '黄金糕'
                }, {
                    value: '选项2',
                    label: '双皮奶'
                }, {
                    value: '选项3',
                    label: '蚵仔煎'
                }, {
                    value: '选项4',
                    label: '龙须面'
                }, {
                    value: '选项5',
                    label: '北京烤鸭'
                }],
                value: ''
            }
        },


    })

</script>

</html>