<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>章节测验列表</title>
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="js/index.js"></script>
    <script src="js/axios.js"></script>
</head>
<body>
<div id="app">

    <el-collapse v-for="(site,index) in Curriculumcollectionlist" >
        <h3>{{site.chaName}}：</h3>
        <span v-for="(chapter,index) in ChaptertestList" v-if="chapter.sectionId==site.chaId" >
        <span  @click="testlog(chapter.id)">

         <el-collapse-item  :name="chapter.id">
            <template slot="title" >
                <h3 >{{chapter.title}}</h3><el-button type="success" style="margin-left: 1000px" size="medium" @click="testzhangjie()">前往测验</el-button>
            </template>
                <el-table
                        :data="tableData"
                        style="width: 800px">
                    <el-table-column
                            prop="date"
                            label="上一次提交时间"
                          >
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="测验次数">
                    </el-table-column>
                    <el-table-column
                            prop="address"
                            label="测验最高分">
                    </el-table-column>
                </el-table>

        </el-collapse-item>
            </span>
      </span>
    </el-collapse>

</div>
    <script>
        axios.defaults.headers.common['Authorization'] = "bearer " + sessionStorage.getItem("access_token");
        let userid = sessionStorage.getItem("userid");
        new Vue({
            el:"#app",
            data:{
                tableData: [{
                    date: '2016-05-02',
                    name: '王小虎',
                    address: '上海市普陀区金沙江路 1518 弄'
                }],
                Curriculumcollectionlist:[],//课程章节集合
                ChaptertestList:[]//章节测试集合

            },
            mounted: function () {
                this.quary();

            },
            methods:{
                testzhangjie(){
                    window.location.href = "/exam/ChaptertestTopic.html";
                },
                quary() {
                    let params = new URLSearchParams();
                    //params.append("studentId", userid);
                    params.append("courseid", "16");
                    axios({
                        method: 'post',
                        url: '/api/exam/sectionparper/selectsectionparperrubricer',
                        data: params,
                    }).then(res => {
                        this.Curriculumcollectionlist = res.data.sectionlist.message;
                        this.ChaptertestList=res.data.parperlist;
                    })
                },
                testlog(chapter){
                   // alert(chapter);
                   let params = new URLSearchParams();
                   params.append("studentId", userid);
                    params.append("parperid", chapter);
                    axios({
                        method: 'post',
                        url: '/api/exam/sectionparper/selecttotalandnumandmaxtotal',
                        data: params,
                    }).then(res => {
                       // this.Curriculumcollectionlist = res.data.sectionlist.message;
                       // this.ChaptertestList=res.data.parperlist;
                    })
                }

            }
        })
    </script>

</body>
</html>