<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>question 题库管理</title>
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <script src="js/vue.min.js"></script>
    <script src="js/iview.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script src="js/index.js"></script>
    <script src="js/axios.js"></script>


</head>
<body>

<h1 align="center">题库管理</h1>
<br>
<hr>
<br><br><br>


<div id="app" align="center">
    <div align="center">

        <!--条件查询的条件输入框-->
        <el-button type="primary" icon="el-icon-plus" @click="dialogVisible = true" round>新增试题</el-button>
        <font size="4">题干:</font>
        <el-input v-model="rubric" placeholder="请输入内容" style="width: 200px;"></el-input>
        <font size="4">试题的类型:</font>
        <el-select v-model="typecc" placeholder="请选择">
            <el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value"
                       :disabled="item.disabled">
            </el-option>
        </el-select>
        <font size="4">课程:</font>
        <el-input v-model="course" placeholder="请输入内容" style="width: 120px;"></el-input>
        <font size="4">章节:</font>
        <el-input v-model="section" placeholder="请输入内容" style="width: 120px;"></el-input>

        <el-button type="primary" icon="el-icon-search" @click="query()" round>搜索</el-button>
    </div>


    <div style="width: 100%;">
        <template>
            <!--element表格-->
            <el-table :data="rubricList" style=" width: auto">
                <el-table-column prop="id" label="序号" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="rubricttype" label="试题类型" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="content" label="题干" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="A" label="选项A" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="B" label="选项B" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="C" label="选项C" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="D" label="选项D" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="sectionId" label="章节id" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="courseId" label="课程id" :show-overflow-tooltip="true">
                </el-table-column>
                <el-table-column prop="answerId" label="答案id" :show-overflow-tooltip="true">
                </el-table-column>

                <el-table-column prop="operation" label="操作" align="center" min-width="100">
                    <template slot-scope="scope">
                        <el-button type="primary" round @click="checkDetail(scope.row)" size="mini">查看
                        </el-button>
                        <el-button type="danger" round @click="delete(scope.row)" size="mini">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>

        </template>
    </div>


    <el-dialog title="新增试题" :visible.sync="dialogVisible" width="60%" :before-close="handleClose">

        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="题干内容:">
                <el-input v-model="rubric"></el-input>
            </el-form-item>

            <el-form-item label="答案A:">
                <el-input v-model="answerA" style="width:80%"></el-input>
                <el-switch v-model="form.answerA" active-value="A" inactive-value=""></el-switch>
            </el-form-item>

            <el-form-item label="答案B">
                <el-input v-model="answerB" style="width:80%"></el-input>
                <el-switch v-model="form.answerA" active-value="B" inactive-value=""></el-switch>
            </el-form-item>

            <el-form-item label="答案C">
                <el-input v-model="answerC" style="width:80%"></el-input>
                <el-switch v-model="form.answerA" active-value="C" inactive-value=""></el-switch>
            </el-form-item>

            <el-form-item label="答案D">
                <el-input v-model="answerD" style="width:80%"></el-input>
                <el-switch v-model="form.answerA" active-value="D" inactive-value=""></el-switch>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="addrudic()">立即创建</el-button>
                <el-button>取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>


    <el-dialog title="提示" :visible.sync="dialogVisible1" width="60%" :before-close="handleClose">
        <font size="4">题干:</font>
        <el-input v-model="input2" placeholder="请输入内容" style="width: 600px;"></el-input>
        <br>
        <el-checkbox v-model="checked"><font size="4">选项A:</font></el-checkbox>
        <el-input v-model="inputA" placeholder="请输入内容" style="width: auto;"></el-input>

        <el-checkbox v-model="checked"><font size="4">选项B:</font></el-checkbox>
        <el-input v-model="inputB" placeholder="请输入内容" style="width: auto;"></el-input>
        <br>
        <el-checkbox v-model="checked"><font size="4">选项C:</font></el-checkbox>
        <el-input v-model="inputC" placeholder="请输入内容" style="width: auto;"></el-input>

        <el-checkbox v-model="checked"><font size="4">选项D:</font></el-checkbox>
        <el-input v-model="inputD" placeholder="请输入内容" style="width: auto;"></el-input>


        <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
  </span>
    </el-dialog>


    <el-pagination class="fy"
                   layout="prev, pager, next"
                   @current-change="current_change"
                   :total="total"
                   :page-size="pagesize"
                   background
    >
    </el-pagination>


</div>
</body>

<script>


    var Main = new Vue({
        el: '#app',

        /*初始化方法放在这里面(相当于页面加载事件)*/
        mounted: function () {

            this.query();
        },

        /*数据*/
        data() {
            return {
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },


                options2: [
                    {
                        value: '',
                        label: '请选择'
                    },
                    {
                        value: '选择题',
                        label: '选择题'
                    }, {
                        value: '填空题',
                        label: '填空题'
                    }, {
                        value: '判断题',
                        label: '判断题'
                    }],

                user: {},
                options3: [
                    {
                        value: '选择题',
                        label: '选择题'
                    }, {
                        value: '填空题',
                        label: '填空题'
                    }, {
                        value: '判断题',
                        label: '判断题'
                    }],

                dialogVisible1: false,

                rubric: "",
                typecc: "",
                course: "",
                section: "",
                value2: '',
                dialogVisible: false,
                total: 50,//默认数据总数
                pagesize: 10,//每页的数据条数
                currentPage: 1,//默认开始页面
                rubricList: []
            };
        },
        /*方法函数写在这里面*/
        methods: {
            /*点击新增试题时触发*/

            addrudic() {

                alert(this.form.answerD)


                /*alert("dsaf")
                let params = new URLSearchParams();
                params.append("page", this.currentPage)
                params.append("rows", this.pagesize)
                params.append("rubric", this.rubric);
                params.append("type", this.typecc);
                params.append("course", this.course);
                params.append("section", this.section);
                axios({
                    method: 'post',
                    url: '/api/exam/rubric/addrubric',
                    data: params,
                    headers: {
                        "Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDY1MjY1MywiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6ImY3NDIyN2IzLTY2ZmQtNDBhNy04ZmJlLWUxZjI5YjA4YmI1YyIsImNsaWVudF9pZCI6ImllcCJ9.IEgFAYiFIJ86KnD7BzDRFucc3NCI91lOkGu31imY-ew"
                    }
                }).then(res => {

                })*/


            },


            query() {


                let params = new URLSearchParams();
                params.append("page", this.currentPage)
                params.append("rows", this.pagesize)
                params.append("rubric", this.rubric);
                params.append("type", this.typecc);
                params.append("course", this.course);
                params.append("section", this.section);
                axios({
                    method: 'post',
                    url: '/api/exam/rubric/queryrubricer',
                    data: params,
                    headers: {
                        "Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLnjovkupQiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDY2MTA0MiwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf6ICB5biIIn1dLCJqdGkiOiI1MzRhMWE2OS0yZTU3LTQxZjItODgwNC00ZGMyZWQ4MTg5MTUiLCJjbGllbnRfaWQiOiJpZXAifQ.R5_wNkO6yrkYnWBVmZZfB-1TzfrJYewKdTNqBGRavQs"
                    }
                }).then(res => {

                    res = res.data;

                    for (let i = 0; i < res.page.length; i++) {
                        let r = res.page[i];
                        let answer = r.answer;
                        for (let j = 0; j < answer.length; j++) {
                            let a = answer[j];
                            r[a.optiones] = a.content;
                        }
                    }
                    this.rubricList = res.page;
                    this.total = res.total;


                })

            },
            /*点击查看的时候调用这个*/

            checkDetail(val) {

                this.dialogVisible1 = "true";
                this.input2 = val.content;
                this.inputA = val.A;
                this.inputB = val.B;
                this.inputC = val.C;
                this.inputD = val.D;


            },

            /*删除一个试题*/
            delete(val) {
                let params = new URLSearchParams();
                params.append("id", val.id)
                axios({
                    method: 'post',
                    url: '/api/exam/rubric/deleteredicbyid',
                    data:
                    params,

                    headers: {
                        "Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLnjovkupQiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDY2MTA0MiwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf6ICB5biIIn1dLCJqdGkiOiI1MzRhMWE2OS0yZTU3LTQxZjItODgwNC00ZGMyZWQ4MTg5MTUiLCJjbGllbnRfaWQiOiJpZXAifQ.R5_wNkO6yrkYnWBVmZZfB-1TzfrJYewKdTNqBGRavQs"
                    }
                }).then(res => {
                    if (res.success) {
                        this.reload();
                        alert(res.message)
                    } else {
                        alert(res.message)
                    }
                })
            },
            /*对话框关闭与否触发的方法*/
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },

            handleSizeChange(val) {
                this.pagesize = val;
                console.log(this.pagesize)  //每页下拉显示数据
            },

            handleCurrentChange() {
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },

            created: function () {
                this.total = this.tableData.length;
            },
            current_change: function (currentPage) {
                this.currentPage = currentPage;
                this.query();
            }


        }

    });

</script>
</body>
</html>
          