<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>贴吧管理</title>
		<link rel="stylesheet" type="text/css" href="css/iview.css">
		<script src="js/vue.min.js"></script>
		<script src="js/iview.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="js/index.js"></script>
		<script src="js/axios.js"></script>


	</head>
	<body>


		<div id="app" align="center">
			<el-container>
				<el-aside width="200px">
					<el-col>
						<el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"
						 background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
							<el-submenu index="1">
								<template slot="title">
									<i class="el-icon-location"></i>
									<span>贴吧管理</span>
								</template>
								<el-menu-item-group>
									<el-menu-item index="1-1">帖子管理</el-menu-item>
									<el-menu-item index="1-2">回复管理</el-menu-item>
									<el-menu-item index="1-3">分类管理</el-menu-item>
								</el-menu-item-group>
							</el-submenu>
						</el-menu>
					</el-col>
				</el-aside>
				<el-main>
					<div>
						<!--条件查询的条件输入框-->
						<font size="4">贴子标题:</font>
						<el-input v-model="postTitle" placeholder="请输入内容" style="width: 150px; line-height: 50px;"></el-input>
						<font size="4">发帖人:</font>
						<el-input v-model="userName" placeholder="请输入内容" style="width: 150px;line-height: 50px;"></el-input>
						<font size="4">贴子类型:</font>
						<el-select v-model="typeName" style="width: 150px;line-height: 50px;" placeholder="请选择">
							<el-option v-for="item in options2" :key="item.value" :label="item.label" :value="item.value" :disabled="item.disabled">
							</el-option>
						</el-select>
						<font size="4">排序:</font>
						<el-select v-model="orderBy" style="width: 150px;line-height: 50px;" placeholder="请选择">
							<el-option v-for="s in options3" :key="s.value" :label="s.label" :value="s.value" :disabled="s.disabled">
							</el-option>
						</el-select>
						<el-button type="primary" icon="el-icon-search" @click="query()" round>搜索</el-button>

					</div>

					<div style="width: 100%;">
						<template>
							<!--element表格-->
							<el-table :data="replyList.slice((currentPage-1)*pagesize,currentPage*pagesize)" style=" width: auto">
								<el-table-column type="index" label="序号" :show-overflow-tooltip="true">
								</el-table-column>
								<el-table-column prop="postTitle" label="帖子标题" :show-overflow-tooltip="true">
								</el-table-column>
								<el-table-column prop="userName" label="发帖人" :show-overflow-tooltip="true">
								</el-table-column>
								<el-table-column prop="replyTime" label="发帖时间" :show-overflow-tooltip="true">
								</el-table-column>
								<el-table-column prop="replyLikenum" label="点赞数" :show-overflow-tooltip="true">
								</el-table-column>
								<el-table-column prop="replyReportnum" label="举报数" :show-overflow-tooltip="true">
								</el-table-column>
								<el-table-column prop="typeName" label="帖子类型" :show-overflow-tooltip="true">
								</el-table-column>

								<el-table-column prop="operation" label="操作" align="center" min-width="80">
									<template slot-scope="scope">
										<el-button type="danger" round @click="delete(scope.row)" size="mini">删除
										</el-button>
									</template>
								</el-table-column>
								<el-table-column prop="operation" label="操作" align="center" min-width="80">
									<template slot-scope="scope">
										<el-button type="primary" round @click="" size="mini">精选
										</el-button>
										<el-button type="primary" round @click="" size="mini">置顶
										</el-button>
									</template>
								</el-table-column>
								<el-table-column prop="operation" label="操作" align="center" min-width="80">
									<template slot-scope="scope">
										<el-button type="primary" round @click="dialog(scope.row)" size="mini">查看详情
										</el-button>

									</template>
								</el-table-column>
							</el-table>
						</template>
					</div>


					<el-dialog title="帖子内容详情" :visible.sync="dialogVisible" width="60%" :before-close="handleClose">

						<el-input type="textarea" :rows="10" placeholder="请输入内容" v-model="textarea"></el-input>
						<span slot="footer" class="dialog-footer">
							<el-button @click="dialogVisible = false">取 消</el-button>
						</span>
					</el-dialog>

					<el-pagination class="fy" layout="prev, pager, next" @current-change="current_change" :total="total" background>
					</el-pagination>
				</el-main>
			</el-container>

		</div>
	</body>

	<script>


		var Main = new Vue({
        el: '#app',

        /*初始化方法放在这里面(相当于页面加载事件)*/
        mounted: function () {

            this.query();
        },

        /*数据*/
        data() {
            return {
                options2: [ /* 帖子类型 */
                    {
                        value: '精选',
                        label: '精选'
                    }, {
                        value: '置顶',
                        label: '置顶'
                    }],

                user: {},
                options3: [ /* 帖子排序 */
                    {
                        value: 'replyTime',
                        label: '回复时间'
                    }, {
                        value: 'replyLikenum',
                        label: '点赞数'
                    }, {
                        value: 'replyReportnum',
                        label: '举报数'
                    }],

                dialogVisible1: false,

                textarea: '',
								replyId: "",
								postTitle: "",
								userName: "",
                isStick: "",
								isSelect: "",
								typeName:"",
								replyTime: "",
								replyContent: "",
								replyLikenum: "",
								replyReportnum: "",
								orderBy:"",
                dialogVisible: false,
                total: 50,//默认数据总数
                pagesize: 10,//每页的数据条数
                currentPage: 1,//默认开始页面
                replyList: []
            };
        },
        /*方法函数写在这里面*/
        methods: {

            addrudic() {
                alert("dsaf")


            },
						
						dialog(val){
							
							this.dialogVisible=true;
							this.textarea=val.replyContent;
							
							
						},


            query() {

                let params = new URLSearchParams();
                params.append("postTitle", this.postTitle);
                params.append("userName", this.userName);
								params.append("typeName", this.typeName);
                params.append("orderBy", this.orderBy);
								params.append("page",this.currentPage);
								params.append("rows",this.pagesize);
                axios({
                    method: 'post',
                    url: '/api/bbs/post/getAllPost',
                    data: params,
                    headers: {
                        //"Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDUzMTEzMCwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6IjQyNWQxN2NiLTA1MTEtNGUwNy1iZTBiLTMxNDY1MDYxYzhhYSIsImNsaWVudF9pZCI6ImllcCJ9.4ELHXcBVRxTDYAQP0CBYTTY9mxMqLgJhdFONiH6o_fs"
                    }
                }).then(res => {
                    res = res.data;
                    this.replyList = res.rows;
                    this.total = res.total;
										console.log('replyList==>'+this.replyList);
                })

            },
						
						delete(val){
							let params = new URLSearchParams();
							                params.append("replyId", val.replyId)
							                axios({
							                    method: 'post',
							                    url: '/api/bbs/post/deletePost',
							                    data:
							                    params,
							
							                    headers: {
							                        //"Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDUwNTc3MCwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6IjllMjI1MDUyLTViNDQtNGI0MS05ZTRkLTk4NmNhMTJjZWZkZCIsImNsaWVudF9pZCI6ImllcCJ9.qxP1BynI41fIAAgXxeS-hYVIxdbiIpcjy3GQXrhPEh8"
							                    }
							                }).then(res => {
							                    if (res.success) {
							                        this.reload();
							                        alert(res.message)
							                    } else {
							                        alert(res.message)
							                    }
							                })
						},

            /*删除一个试题*/
           /*delete(val) {
                let params = new URLSearchParams();
                params.append("id", val.id)
                axios({
                    method: 'post',
                    url: '/api/exam/rubric/deleteredicbyid',
                    data:
                    params,

                    headers: {
                        "Authorization": "bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX25hbWUiOiLlvKDkuIkiLCJzY29wZSI6WyJhbGwiLCJyZWFkIiwid3JpdGUiXSwiY29tcGFueSI6ImllcCIsImV4cCI6MTU0NDUwNTc3MCwiYXV0aG9yaXRpZXMiOlt7ImF1dGhvcml0eSI6IlJPTEVf5a2m55SfIn0seyJhdXRob3JpdHkiOiLmtYvor5XmnYPpmZAifV0sImp0aSI6IjllMjI1MDUyLTViNDQtNGI0MS05ZTRkLTk4NmNhMTJjZWZkZCIsImNsaWVudF9pZCI6ImllcCJ9.qxP1BynI41fIAAgXxeS-hYVIxdbiIpcjy3GQXrhPEh8"
                    }
                }).then(res => {
                    if (res.success) {
                        this.reload();
                        alert(res.message)
                    } else {
                        alert(res.message)
                    }
                })
            },*/

            /*对话框关闭与否触发的方法*/
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },

            handleSizeChange(val) {
                this.pagesize = val;
                console.log(this.pagesize)  //每页下拉显示数据
            },

            handleCurrentChange() {
                this.currentPage = currentPage;
                console.log(this.currentPage)  //点击第几页
            },

            created: function () {
                this.total = this.tableData.length;
            },
            current_change: function (currentPage) {
                this.currentPage = currentPage;
            },
						handleOpen(key, keyPath) {
							console.log(key, keyPath);
						},
						handleClose(key, keyPath) {
							console.log(key, keyPath);
						}
        }

    });

</script>

	<style type="text/css">
		.el-aside {
			background-color: #D3DCE6;
			color: #333;
			text-align: center;
			line-height: 200px;
		}

		.el-main {
			background-color: #E9EEF3;
			color: #333;
			text-align: center;
			line-height: 160px;
		}
	</style>
	</body>
</html>
