<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/vue.min.js"></script>
    <script src="../../js/axios.min.js"></script>
    <script type="text/javascript" src="ckplayer/ckplayer.js"></script>
    <script src="../../js/elementui/index.js"></script>
    <link rel="stylesheet" href="../../js/elementui/index.css">
    <style>
        .chapter-top>div>.el-collapse-item__header {
            background-color: rgb(232, 249, 255);
            height: 60px;
        }

        .el-collapse-item__arrow, .el-icon-arrow-right {
            display: none;
        }
        .el-collapse-item{
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div id="app">

    <el-row type="flex" justify="center">
        <el-col :span="2">
            <el-button icon="el-icon-refresh" type="primary" onclick=" window.location.reload();">刷新</el-button>
        </el-col>
    </el-row>
    <el-row>
        <el-collapse>
            <el-collapse-item v-if="item.children!=null && item.children.length!=0" class="chapter-top" :key="item.chaId" :name="i" v-for="(item,i) in chapterData">
                <template slot="title">
                    <el-button type="text" @click="itemClick(item)" style="color:#000000;width: 100%;">
                        <span style="float: left;">
                            <i :class="item.icon" v-if="item.children!=null && item.children.length!=0"></i>{{item.chaName}}
                        </span>
                    </el-button>
                </template>
                <my-collapse :chapter-data="item.children" :hierarchy="1"></my-collapse>
            </el-collapse-item>

            <el-collapse-item v-else>
                <template slot="title">
                    <el-button  type="text" @click="itemClick(item)" style="color:#000000;width: 100%;">
                        <span style="float: left;">
                        <span v-for="i in hierarchy*2">&emsp;</span>
                           {{item.chaName}}
                        </span>
                    </el-button>
                </template>
            </el-collapse-item>
        </el-collapse>
    </el-row>
</div>
<script type="text/javascript">
    axios.defaults.headers.common['Authorization'] = "bearer " + sessionStorage.getItem("access_token");
    window.onbeforeunload = function (e) {
        /*  console.log("sss离开", e)
          console.log("sss离开", app.hiy)*/
        //app.addStudy(app.hiy);
    }
    Vue.component('my-collapse', {
        props: {
            chapterData: [],
            hierarchy:1
        },
        template: `
        <el-collapse>
            <el-collapse-item v-if="item.children!=null && item.children.length!=0" class="chapter-top" :key="item.chaId" :name="i" v-for="(item,i) in chapterData">
                <template slot="title">
                    <el-button  type="text" @click="itemClick(item)" style="color:#000000;width: 100%;">
                        <span style="float: left;">
                        <span v-for="i in hierarchy*2">&emsp;</span>
                            <i :class="item.icon"></i>{{item.chaName}}
                        </span>
                    </el-button>
                </template>
                <my-collapse :chapter-data="item.children" :hierarchy="hierarchy+1"></my-collapse>
            </el-collapse-item>

              <el-collapse-item v-else>
                <template slot="title">
                    <el-button  type="text" @click="itemClick(item)" style="color:#000000;width: 100%;">
                        <span style="float: left;">
                        <span v-for="i in hierarchy*2">&emsp;</span>
                           {{item.chaName}}
                        </span>
                    </el-button>
                </template>
            </el-collapse-item>
        </el-collapse>
        `,
        methods: {
            itemClick(item){
                console.log(this.hierarchy)
                app.itemClick(item);
            }
        }
    });


    var app = new Vue({
        el: "#app",
        data: {
            //章节数据
            chapterData: [],
            sid: '',
            cid: '',
            //视频进度
            hiy: 0,
            //播放器
            player: null,
        },
        methods: {
            itemClick(item) {
                let icon = item.icon;
                if (icon === 'el-icon-arrow-left') {
                    item.icon = "el-icon-arrow-down";
                } else {
                    item.icon = "el-icon-arrow-left";
                }
            },
            timeHandler(t) {
                this.hiy = t;
            },
            //查询课程下所有章节
            queryChapter() {
                axios({
                    method: 'get',
                    url: `/api/student/study/queryChapter`,
                    params: {
                        cid: this.cid
                    }
                }).then(res => {
                    this.chapterData = res.data;

                })
            },
            bofang(url, type, chaId) {
                this.starttime = new Date();//点击播放按钮时获取当前时间（未完成）
                console.log("this.starttime=>" + this.starttime);
                var videoObject = {
                    container: '#video',//“#”代表容器的ID，“.”或“”代表容器的class
                    variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
                    flashplayer: false,//如果强制使用flashplayer则设置成true
                    video: url,//视频地址
                    //loaded:'loadHandler',//监听事件
                };
                this.player = new ckplayer(videoObject);
                this.player.addListener('time', app.timeHandler); //监听播放时间

            },
            addStudy(time) {
                //chaId章节Id
                //starttime 备注:学习开始的时间
                //watchtime 观看视频时常
                //credits 学分
                var courId = sessionStorage.getItem("courId");//课程id
                let params = new URLSearchParams()
                params.append('cid', courId);
                params.append('chaid', this.chaId);
                params.append('watchtime', time);
                params.append('sid', sessionStorage.getItem("userid"));
                axios({
                    method: 'post',
                    url: `/api/student/study/addChapterStudyLog`,
                    data: params,
                }).then(res => {

                })
            },
        },
        mounted() {
            this.sid = sessionStorage.getItem("userid");
            this.cid = sessionStorage.getItem("courId");
            this.queryChapter();
        },

    })
</script>
</body>
</html>